
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Roboto";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: #16a085;
    /* IE Fallback */
    background: rgba(31, 119, 101, 0.97);
    width: 100%;
    height: 100%;
}
.list {
    position: absolute;
    width: 360px;
    top: 100px;
    left: 50%;
    margin: 0 0 100px -180px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.list h1 {
    position: relative;
    background: #1abc9c;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    font-family: "Roboto";
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.list h1 a {
    position: absolute;
    top: 50%;
    right: 20px;
    background: #fff;
    /* IE Fallback */
    background: rgba(255, 255, 255, 0.15);
    width: 24px;
    height: 24px;
    margin: -12px 0 0 0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.list h1 a:hover {
    background: rgba(255, 255, 255, 0.2);
}
.list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list ul li {
    background: #fff;
    height: 40px;
    color: #666;
    line-height: 40px;
    padding: 0 20px 0 0;
}
.list ul li a {
    display: inline-block;
    background: #2ecc71;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    /*opacity: 0;*/
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
.list ul li a.todo-apply, .list ul li a.todo-remove  {
    margin-right: 0;
    position: absolute;
    right: 0;
    margin-right: 0;
}
.list ul li a.todo-apply {
    background-color: #ffb04f;
    display: none;
}

.list ul li.focused .todo-apply, .list ul li a.todo-remove {
    display: inline;
}
.list ul li a.todo-remove {
    background-color: #797979;

}
.list ul li.focused .todo-apply {
    display: inline;
}
.list ul li:nth-child(2n) {
    background: #f7f7f7;
}

.list ul li .todo-input {
    display: none;
    width: 140px;
}
.list ul li.focused .todo-input {
    display: inline;
}
.list ul li.focused .todo-title {
    display: none;
}
.todo-input {
    line-height: 15px;
    padding: 5px;
    outline: none;
}
#todo_recorder {
    margin-bottom: 10px;
    background: #fff;
    color: #666;
    line-height: 25px;
    padding: 5px 15px;
    font-size: 125%;
    word-spacing: 5px;
    min-height: 30px;
}
.todo-btns button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
}
.todo-date {
    font-size: 80%;
    margin-left: 10px;
    font-style: italic;
    position: absolute;
    right: 45px;
}
select {
    margin-bottom: 15px;
}
#todo_recorder_clear_btn {
    position: absolute;
    right:1px;
    text-decoration: none;
    color: #ac2925;
}
.line-through {
    text-decoration:line-through
}
.todo-done {
    filter: brightness(85%);
}

@media screen and (max-device-width: 768px) {
    body, .list {
        height: 100%;
    }
    .list {
        width: 80%;
        position: relative;
        margin: 0 auto;
        left: auto;
        top: auto;
    }
    .todo-btns button {
        height: 150px;
        margin-bottom: 30px;
        margin-top: 80px;
        font-size: 50px;
    }
    #todo_recorder {
        font-size: 300%;
        line-height: 150%;
        margin-bottom: 30px;
    }
    .list h1 {
        height: 300%;
        line-height: 100px;
    }
    .list ul {
        font-size: 22px;
    }
    #add {
        font-size: 200%;
    }
    .list ul li {
        height: 60px;
        line-height: 60px;
    }
    .list ul li a {
        width: 60px;
        height: 60px;
    }
}
